---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About Me"
const identity = {
    firstName: "Larry",
    country: "Djbouti",
    occupation: "Haberdasher",
    hobbies: ["finery", "winery", "tinery"]
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Haberdashery"]

const rando1 = Math.floor(Math.random() * identity.hobbies.length)
const rando2 = Math.floor(Math.random() * identity.hobbies.length)

const happy = true;
const finished = false;
const goal = 3;

const skillColor="navy"

---
<BaseLayout pageTitle={pageTitle}>
        <h2>...and my new Astro site!</h2>

        <p>Astro has given me some text that they want me to use here, but I can't be bothered.</p>

        <p>If you'd like to see it for yourself, <a href="https://docs.astro.build/en/tutorial/2-pages/1/"></a>read the tutorial</a>.</p>

        <p>Here are a few (non) facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[rando1]} and also {identity.hobbies[rando2]}</li>

            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am happy today!</p>}
        {finished && <p>I have finished the Astro tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in {goal} days</p> : <p>Some other condition using the number {goal}</p> }
</BaseLayout>